<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhualing.www.gdms.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.yuhualing.www.gdms.model.Shop">
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_city" jdbcType="VARCHAR" property="shopCity" />
    <result column="shop_address" jdbcType="VARCHAR" property="shopAddress" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, shop_name, shop_city, shop_address, create_at, update_at, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <select id="select" parameterType="com.yuhualing.www.gdms.model.Shop" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_shop
    <where>
      true
      <if test="shopName != null">
        and shop_name = #{shopName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuhualing.www.gdms.model.Shop">
    insert into t_shop (shop_id, shop_name, shop_city, 
      shop_address, create_at, update_at, 
      delete_flag)
    values (#{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopCity,jdbcType=VARCHAR}, 
      #{shopAddress,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuhualing.www.gdms.model.Shop">
    insert into t_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopCity != null">
        shop_city,
      </if>
      <if test="shopAddress != null">
        shop_address,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopCity != null">
        #{shopCity,jdbcType=VARCHAR},
      </if>
      <if test="shopAddress != null">
        #{shopAddress,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuhualing.www.gdms.model.Shop">
    update t_shop
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopCity != null">
        shop_city = #{shopCity,jdbcType=VARCHAR},
      </if>
      <if test="shopAddress != null">
        shop_address = #{shopAddress,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuhualing.www.gdms.model.Shop">
    update t_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_city = #{shopCity,jdbcType=VARCHAR},
      shop_address = #{shopAddress,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>